# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @fponticelli will be requested for review when someone 
# opens a pull request.
*       @fponticelli

# Package specific ownership
/packages/tml-parser/  @fponticelli
