# Enable workspaces support
workspaces-experimental true

# Improve performance and security
network-timeout 300000
registry "https://registry.npmjs.org/"
save-exact true

# Disable telemetry
disable-self-update-check true
